[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
tabulate = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
parameterized = "*"
black = "*"
setuptools = "*"
exceptiongroup = {version = "*", markers = "python_version < '3.11'"}

[build]
wheel = "*"
twine = "*"
check-wheel-contents = "*"


[requires]
python_version = "3.14"
