[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
tabulate = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
parameterized = "*"
black = "*"
setuptools = "*"

[build]
wheel = "*"
twine = "*"
check-wheel-contents = "*"


[requires]
python_version = "3.10"
