[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
tabulate = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
parameterized = "*"
black = "*"
typing-extensions = {version = "*", markers = "python_version < '3.13'"}

[build]
wheel = "*"
twine = "*"
check-wheel-contents = "*"
setuptools = "*"

[requires]
python_full_version = ">=3.10.0"
